*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding-top: 20px;
}
img{
    border-radius: 50px;
    padding: 20px;
}
.picture-resume{
    text-align: center;
    
}
.name-resume{
    background-color:bisque;
    text-align:center;
    border-radius: 20px;
    padding-bottom: 10px;
}

.left-menu-bar{
        flex:1;
        max-width: 30%;
        padding: 20px;
        padding-left: 30px;
        background-color:bisque;
        margin: 10px;
}
.right-menu-bar{
    flex: 3;
    padding-top: 10px;
    padding-left: 15px;
}
.contact-menu{
    
}
span{
    padding-top: 20px;
}
.icon-flex{
    display: flex;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}